<?xml version="1.0" encoding="UTF-8"?>
<!--
     status : 这个用于设置log4j2自身内部的信息输出,可以不设置,当设置成trace时,会看到log4j2内部各种详细输出
     monitorInterval : Log4j能够自动检测修改配置文件和重新配置本身, 设置间隔秒数。
 -->
<Configuration status="WARN" monitorInterval="10">
    <!--变量配置-->
    <Properties>
        <property name="LOG_ROOT" value="D:/programming/web/spring/fitness/logs"/>
        <property name="FILE_NAME" value="log"/>
    </Properties>

    <Appenders>
        <Console name="ConsoleDefault" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{3} -%method: %msg %n"/>
        </Console>
        <File name="FileAppender" fileName="${LOG_ROOT}/${FILE_NAME}_not_rolling.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <RollingRandomAccessFile name="running-log"
                                 fileName="${LOG_ROOT}/${FILE_NAME}.log"
                                 filePattern="${LOG_ROOT}/${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout
                    pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread][%file:%line] %logger{36}: %method - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <!-- additivity=false避免延展到父层logger，输出两次-->
        <logger name="com.hzh.fitness" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="running-log"/>
        </logger>
        <logger name="org.springframework.core" level="debug" additivity="false">
            <AppenderRef ref="ConsoleDefault"/>
        </logger>
        <logger name="com.hzh.fitness.mapper" level="info" additivity="false">
            <AppenderRef ref="ConsoleDefault"/>
        </logger>
<!--        <logger name="org.springframework.beans" level="debug" additivity="false">-->
<!--            <AppenderRef ref="ConsoleDefault"/>-->
<!--        </logger>-->
        <Root level="error">
            <AppenderRef ref="ConsoleDefault"/>
        </Root>
    </Loggers>
</Configuration>