<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzh.fitness.mapper.ArticleMapper">


    <select id="selectImgCount" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM articleimgs WHERE hex=#{hex,jdbcType=CHAR}
    </select>


</mapper>