<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzh.fitness.mapper.ArticleMapper">

    <resultMap id="CommentMap" type="Comment" autoMapping="true">
        <id property="id" column="id"/>
        <result property="articleId" column="article_id"/>
        <result property="commentId" column="comment_id"/>
        <result property="publisherId" column="publisher_id"/>
        <result property="createTime" column="create_time"/>
        <result property="content" column="content"/>
        <result property="likeCount" column="likes"/>
        <association property="likeId" column="id" select="selectLikeIdForComment"/>
        <association property="publisherName" column="publisher_id" select="selectUserNameById"/>
        <association property="publisherImg" column="publisher_id" select="selectUserImgById"/>
        <association property="commentCount" column="id" select="selectSubCommentCount"/>
    </resultMap>

    <resultMap id="ArticleMap" type="Article" autoMapping="true">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="commentCount" column="comment_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="text" column="content"/>
        <result property="isShare" column="is_share"/>
        <association property="likeId" column="id" select="selectLikeIdForArticle"/>
        <association property="shareArticle" column="share_article" select="selectShareArticle"/>
        <association property="comments" column="id" select="selectCommentsByArticleId"/>
        <association property="img" column="id" select="selectArticleImgById"/>
        <association property="publisherName" column="user_id" select="selectUserNameById"/>
        <association property="publisherImg" column="user_id" select="selectUserImgById"/>
    </resultMap>

    <select id="selectImgCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM articleimgs
        WHERE hex = #{hex,jdbcType=CHAR}
    </select>

    <select id="selectArticleById" parameterType="int" resultMap="ArticleMap">
        SELECT *
        FROM articles
        WHERE id = #{id}
    </select>

    <select id="selectShareArticle" parameterType="int" resultMap="ArticleMap">
        select *
        from articles
        where id = #{share_article,jdbcType=INTEGER}
    </select>

    <select id="selectCommentsByArticleId" parameterType="int" resultMap="CommentMap">
        select *
        from comments
        where comment_id IS NULL
          and article_id = #{id}
    </select>

    <select id="selectSubCommentCount" parameterType="int" resultType="int">
        select count(id)
        from comments
        where comment_id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectUserNameById" parameterType="int" resultType="String">
        select nickname
        from users
        where id = #{publisherId,jdbcType=INTEGER}
    </select>

    <select id="selectUserImgById" parameterType="int" resultType="String">
        select img
        from users
        where id = #{publisherId,jdbcType=INTEGER}
    </select>

    <select id="selectArticleImgById" parameterType="int" resultType="String">
        select img_name
        from articleimgs
        where article_id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertArticle" parameterType="Article" keyProperty="id">
        insert into articles(user_id, content, comment_count, like_count, is_share, share_article, create_time)
        values (#{userId,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, 0, 0, #{isShare,jdbcType=INTEGER},
                #{shareArticleId,jdbcType=INTEGER}, now())
    </insert>

    <insert id="insertArticleImg" parameterType="String">
        insert into articleimgs(img_name, hex, article_id) values
        <foreach collection="array" separator="," item="item">
            (#{item.imgName},#{item.hex},#{articleId})
        </foreach>
    </insert>

    <select id="selectImgHex" parameterType="String" resultType="String">
        SELECT hex
        FROM articleimgs
        WHERE hex = #{imgHex,jdbcType=CHAR}
        LIMIT 1
    </select>

    <select id="selectFollowArticles" parameterType="int" resultMap="ArticleMap">
        select *
        from articles
        where id in (select user_id from follow where follower = #{id,jdbcType=INTEGER})
        order by create_time desc
        limit ${(page-1)*perPage},${perPage}
    </select>

    <select id="selectPersonalArticles" resultMap="ArticleMap">
        select *
        from articles
        where id = #{id}
        order by create_time desc
        limit ${(page-1)*perPage},${perPage}
    </select>

    <select id="selectNewestArticles" resultMap="ArticleMap">
        select *
        from articles
        order by create_time desc
        limit ${(page-1)*perPage},${perPage}
    </select>

    <select id="selectHotArticles" resultMap="ArticleMap">
        select *
        from articles
        order by (like_count + comment_count * 3) + create_time / 10000 desc
        limit ${(page-1)*perPage},${perPage}
    </select>

    <select id="selectTotalPages" resultType="int">
        select (count(id) + #{perPage,jdbcType=INTEGER} - 1) / #{perPage,jdbcType=INTEGER}
        from articles
    </select>

    <update id="updateLikeCountToArticle" parameterType="int">
        update articles
        set like_count = like_count + #{count,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateLikeCountToComment" parameterType="int">
        update comments
        set likes = likes + #{count,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insertLikeArticle" parameterType="int">
        insert into likes(user_id, article_id)
        values (#{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteLikeArticle" parameterType="int">
        delete
        from likes
        where user_id = #{userId,jdbcType=INTEGER}
          and article_id = #{articleId,jdbcType=INTEGER}
    </delete>

    <insert id="insertLikeComment" parameterType="int">
        insert into likes(user_id, comment_id)
        values (#{userId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER})
    </insert>

    <delete id="deleteLikeComment" parameterType="int">
        delete
        from likes
        where user_id = #{userId,jdbcType=INTEGER}
          and comment_id = #{commentId,jdbcType=INTEGER}
    </delete>

    <select id="selectLikeIdForArticle" parameterType="int" resultType="int">
        select user_id
        from likes
        where article_id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectLikeIdForComment" parameterType="int" resultType="int">
        select user_id
        from likes
        where comment_id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectArticleLikeLog" parameterType="int" resultType="int">
        select count(id)
        from likes
        where user_id = #{userId,jdbcType=INTEGER}
          and article_id = #{articleId,jdbcType=INTEGER}
    </select>

    <select id="selectCommentLikeLog" parameterType="int" resultType="int">
        select count(id)
        from likes
        where user_id = #{userId,jdbcType=INTEGER}
          and comment_id = #{commentId,jdbcType=INTEGER}
    </select>

    <select id="selectArticleId" parameterType="int" resultType="int">
        select count(id)
        from articles
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectCommentId" parameterType="int" resultType="int">
        select count(id)
        from comments
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertComment" parameterType="Comment" keyProperty="id">
        insert into comments(article_id, comment_id, create_time, content, publisher_id, likes)
        values (#{articleId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER}, now(), #{content,jdbcType=INTEGER},
                #{publisherId,jdbcType=INTEGER}, 0)
    </insert>

    <update id="updateCommentCount" parameterType="int">
        update articles
        set comment_count=comment_count + 1
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectCommentById" parameterType="int" resultMap="CommentMap">
        select *
        from comments
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="checkArticleById" resultType="int">
        select count(id)
        from articles
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="checkCommentById" resultType="int">
        select count(id)
        from comments
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectSubComment" parameterType="int" resultMap="CommentMap">
        select *
        from comments
        where comment_id = #{commentId,jdbcType=INTEGER}
    </select>

</mapper>