<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzh.fitness.mapper.UserMapper">

    <resultMap id="UserMap" type="User" autoMapping="true">
        <id property="id" column="id"/>
        <result property="pwdHex" column="pwd_hex"/>
        <result property="imgHex" column="img_hex"/>
        <association property="followers" column="id" select="selectFollowers"/>
        <association property="focus" column="id" select="selectFocus"/>
        <association property="articles" column="id" select="selectArticlesById"/>
    </resultMap>

    <resultMap id="CommentMap" type="Comment" autoMapping="true">
        <id property="id" column="id"/>
        <result property="articleId" column="article_id"/>
        <result property="commentId" column="comment_id"/>
        <result property="publisherId" column="publisher_id"/>
        <result property="createTime" column="create_time"/>
        <result property="content" column="content"/>
        <result property="likeCount" column="likes"/>
        <association property="publisherName" column="publisherId" select="selectUserNameById"/>
        <association property="publisherImg" column="publisherId" select="selectUserImgById"/>
    </resultMap>

    <resultMap id="ArticleMap" type="Article" autoMapping="true">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="commentCount" column="comment_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="text" column="content"/>
        <result property="isShare" column="is_share"/>
        <association property="shareArticle" column="share_article" select="selectShareArticle"/>
        <association property="comments" column="id" select="selectCommentsByUserId"/>
        <association property="img" column="id" select="selectArticleImgById"/>
    </resultMap>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        INSERT INTO users(phone, nickname, img, gender, birth, intro, img_hex, pwd_hex)
        VALUES (#{phone,jdbcType=CHAR}, #{nickname,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR},
                #{gender,jdbcType=CHAR}, #{birth,jdbcType=CHAR}, #{intro,jdbcType=VARCHAR},
                #{imgHex,jdbcType=CHAR}, #{pwdHex,jdbcType=CHAR})
    </insert>

    <select id="selectFollowers" parameterType="int" resultType="User">
        select id,
               phone,
               nickname,
               img,
               gender,
               birth,
               intro,
               img_hex
        from users
        where id in (select follower from follow where user_id = #{id,jdbcType=INTEGER})
    </select>

    <select id="selectFocus" parameterType="int" resultType="User">
        select id,
               phone,
               nickname,
               img,
               gender,
               birth,
               intro,
               img_hex
        from users
        where id in (select user_id from follow where follower = #{id,jdbcType=INTEGER})
    </select>

    <select id="selectArticlesById" parameterType="int" resultMap="ArticleMap">
        select *
        from articles
        where user_id = #{id,jdbcType=INTEGER}
        order by create_time desc
        limit 0,10
    </select>

    <select id="selectShareArticle" parameterType="int" resultMap="ArticleMap">
        select *
        from articles
        where id = #{share_article,jdbcType=INTEGER}
    </select>

    <select id="selectCommentsByUserId" parameterType="int" resultMap="CommentMap">
        select *
        from comments
        where id = #{id}
    </select>

    <select id="selectUserNameById" parameterType="int" resultType="String">
        select nickname
        from users
        where id = #{publisherId}
    </select>

    <select id="selectUserImgById" parameterType="int" resultType="String">
        select img
        from users
        where id = #{publisherId}
    </select>

    <select id="selectUserByPhone" parameterType="String" resultMap="UserMap">
        SELECT *
        FROM users
        WHERE phone = #{phone,jdbcType=CHAR}
    </select>

    <select id="selectUserById" parameterType="int" resultMap="UserMap">
        SELECT *
        FROM users
        WHERE id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectArticleImgById" parameterType="int" resultType="String">
        select img_name
        from articleimgs
        where article_id = #{id}
    </select>

    <select id="selectHex" parameterType="String" resultType="String">
        SELECT img_hex
        FROM users
        WHERE img_hex = #{imgHex,jdbcType=CHAR}
        LIMIT 1
    </select>

    <delete id="deleteUserById" parameterType="int">
        DELETE
        FROM users
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>

    <delete id="deleteUserByPhone" parameterType="String">
        DELETE
        FROM users
        WHERE phone = #{phone,jdbcType=CHAR}
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE users
        <set>
            <choose>
                <when test="id!=0">
                    id=#{id,jdbcType=INTEGER},
                </when>
                <when test="phone!=null">
                    phone=#{phone,jdbcType=CHAR},
                </when>
            </choose>
            <if test="nickname!=null">
                nickname=#{nickname,jdbcType=VARCHAR},
            </if>
            <if test="img!=null">
                img=#{img,jdbcType=VARCHAR},
            </if>
            <if test="gender!=null">
                gender=#{gender,jdbcType=CHAR},
            </if>
            <if test="birth!=null">
                birth=#{birth,jdbcType=CHAR},
            </if>
            <if test="intro!=null">
                intro=#{intro,jdbcType=VARCHAR},
            </if>
            <if test="imgHex!=null">
                img_hex=#{imgHex,jdbcType=CHAR},
            </if>
            <if test="pwdHex!=null">
                pwd_hex=#{pwdHex,jdbcType=CHAR},
            </if>
            <if test="phone!=null">
                phone=#{phone,jdbcType=CHAR},
            </if>
        </set>
        <where>
            <choose>
                <when test="id!=0">
                    id=#{id,jdbcType=INTEGER}
                </when>
                <when test="phone!=null">
                    phone=#{phone,jdbcType=CHAR}
                </when>
            </choose>
        </where>
    </update>

    <select id="selectAllUsers" resultMap="UserMap">
        SELECT *
        FROM users
    </select>

    <select id="selectImgCount" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM users
        WHERE img_hex = #{hex,jdbcType=CHAR}
    </select>

    <insert id="insertFollower" parameterType="int">
        insert into follow(user_id, follower)
        values (#{id,jdbcType=INTEGER}, #{follower,jdbcType=INTEGER})
    </insert>

</mapper>